# Built libraries
*.a

# Build artifacts
build/

# Local binary executables
tools/dtk
objdiff
*.exe

# Compiler
mwcc_compiler/*

# Original files
baserom/*

# Windows NUL file
NUL

# vscode
.vscode/

# Keep .gitkeep
!**/.gitkeep

# Context
ctx.c